* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 20px;
}

h2 {
  text-align: center;
  margin: 10px;
}

hr {
  margin: 10px 0px;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

body {
  background-color: #f0f0f0;
  min-width: 610px;
  width: 100%;
  height: 100%;
}

header,
footer {
  background: linear-gradient(180deg, #00a3ff 0%, #00d1ff 100%);
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  padding: 10px;
}

header {
  position: sticky;
  top: 0;
}

header a {
  font-size: large;
  font-weight: bold;
  margin: 10px;
}

.content-flex {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: large;
  margin-top: 20px;
}

.content-flex p {
  max-width: 710px;
  margin: 10px 20px;
}

.content-flex ul {
  max-width: 710px;
  margin: 10px 50px;
}

.content-flex a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-flex img {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.about-content {
  flex-direction: column;
}

.flex-left {
  justify-content: flex-start;
  padding-left: 30px;
}

.flex-right {
  justify-content: flex-end;
  padding-right: 30px;
}

.content-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.content-grid .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-grid img {
  width: 125px;
  height: 100px;
  margin: 10px;
}

.content-grid h3 {
  margin: 10px;
}

.profile-pic {
  border-color: #02810f;
  border-style: solid;
  border-width: 5px;
  border-radius: 50px;
}

footer {
  justify-content: center;
  margin-top: 10px;
}
