* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1 {
  margin: 20px;
}

h2 {
  text-align: center;
  margin: 10px;
}

hr {
  margin: 10px 0px;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

body {
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
}

header,
footer {
  background: linear-gradient(180deg, #00a3ff 0%, #00d1ff 100%);
  width: 100%;
  min-height: 40px;
  height: 5%;
  display: flex;
  align-items: center;
  padding: 10px;
}

header {
  position: sticky;
  top: 0;
}

#descktop-menu a,
#mobile-menu a {
  font-size: large;
  font-weight: bold;
  margin: 10px;
}

#mobile-menu {
  background: linear-gradient(180deg, #00a3ff 0%, #00d1ff 100%);
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

header i {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin: 10px;
}

.link {
  width: 125px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link img {
  transition: 1s;
}

.link img:hover {
  width: 100% !important;
  height: 100% !important;
}

.content-flex {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: large;
  margin-top: 20px;
}

.content-flex p {
  max-width: 710px;
  margin: 10px 20px;
}

.content-flex ul {
  max-width: 710px;
  margin: 10px 50px;
}

.content-flex a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-flex img {
  width: 80%;
  height: 80%;
  margin: 10px;
}

.about-content {
  flex-direction: column;
}

.flex-left {
  flex-direction: row;
  padding-left: 30px;
}

.flex-right {
  flex-direction: row-reverse;
  padding-right: 30px;
}

.content-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.content-grid .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-grid img {
  width: 90%;
  height: 80%;
  margin: 10px;
}

#tecnologes .content-grid img {
  width: 125px;
  height: 100px;
  margin: 10px;
}

.content-grid h3 {
  margin: 10px;
}

.profile-pic {
  width: 200px !important;
  height: 200px !important;
  border-radius: 100px;
}

footer {
  justify-content: center;
  margin-top: 10px;
}

@media (max-width: 640px) {
  i {
    display: block;
  }

  header #descktop-menu {
    display: none;
  }

  .content-flex {
    flex-direction: column;
  }

  .card .link {
    width: 80px;
    height: 60px;
  }

  #tecnologes .content-grid img {
    width: 80px;
    height: 50px;
    margin: 10px;
  }
}

@media (min-width: 640px) {
  header i {
    display: none !important;
  }

  #mobile-menu {
    display: none !important;
  }
}
